.navbar-fixed-top,  .navbar-fixed-bottom

{  
    color:rgb(76, 0, 255) ;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}
b
{
    color: rgb(255, 94, 0);
}
span
{
  color: orange;  
}
.navbar-default
{
    background-color: red;
    border: color #e7e7e7; 
}
body
{
    color: #e7e7e7;
    background-color: white;
    background-image: url(a3.jpg);
    background-repeat:repeat ;
}
i
{
    color: yellow;
}
div
{
    color: black;
}
p
{
    color: black;
}